.navbar-expand-sm .navbar-collapse{
    
}
.sizeedit{
    size: 100px;
}
.container{
    margin-top: 30px;
}
.row{
    margin-top: 30px;
}
.imagesclass{
    margin-top: 30px;
}
.textarea {
    margin-top: 100px;
}
body{
    font-family: 'Inter', sans-serif;
}

.testimage1
{
   background-size: contain;
    }
@media(max-width:768px){
    .testimage1{
    
        background-size: 500px;
        
        
    }
    .investclass{
    
        font-size: 40px;
    }
    .onlineplatform
    {
        font-size: 20px;
    }
    .Largeststock{
        font-size: 40px;
       
    }

    .textarea{
        
        padding-top: 30px
    }
    .CroreZerodha{
        font-size: 18px;
    }
    .second1st h1{
        font-size: 40px;

    }
    .echosystem1 {
        
    }



}
.testimage1{
    width: 100%;
    height: auto;
}
#footerclass {
    background-color: antiquewhite;
}