.navbar-expand-sm .navbar-collapse{
    
}
.sizeedit{
    size: 100px;
}
.container{
    margin-top: 30px;
}
.row{
    margin-top: 30px;
}
.imagesclass{
    margin-top: 30px;
}
.textarea {
    margin-top: 100px;
}
body{
    font-family: 'Inter', sans-serif;
}
@media(max-width:768px){
    .testimage1{
        min-height: vh;
    }
    .investclass{
        color: brown;
    }


}
.testimage1{
    width: 100%;
    height: auto;
}