.navbar-expand-sm .navbar-collapse{
    
}
.sizeedit{
    size: 100px;
}
.container{
    margin-top: 30px;
}
.row{
   
}
.imagesclass{
    margin-top: 30px;
}
.textarea {
    margin-top: 100px;
}
body{
    font-family: 'Inter', sans-serif ;
}
.navbar{
    height: 58px;
}
.navbar-brand {
    padding-left: 87px;
    padding-top: 10px;
}
#firstconatiner{
    padding-top: 50px;
}